<div class="col-sm-4">
    <div class="card" style="width: 360px; height: 485px; position: absolute; top: 20px; ">
        <div>
            <img class="card-img-top center" style="max-width:100%;max-height:200px;" src="/images/prd-<%=product.id%>.jpg" alt="Card image cap">
        </div>
            <div class="card-body">
            <h5 class="card-title"><%=product.name%></h5>
            <p class="card-text">Price: <%=product.price%> </p>
            <p class="card-text">Information: <%=product.information%> </p>
            <div style="position:absolute; top: 350px;">
                <a href="/product/<%=product.id%>" class="btn btn-primary">view details - <%=product.id%></a>
                <button type="submit" class="btn btn-success" onclick="add_to_cart('<%=product.id%>' , '<%=product.name%>')"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
            </div>
        </div>
    </div>
</div>
